<%- contentFor('content') %>

<section class="bg-gradient-to-r from-blue-600 to-blue-800 text-white pt-8 pb-8">
  <div class="max-w-7xl mx-auto text-center">
    <h1 class="text-4xl md:text-6xl font-bold mb-6">
      Welcome to the Library App
    </h1>
  </div>
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-2xl md:text-3xl font-bold">
      Your one-stop destination for all your reading needs
    </h2>
  </div>
</section>

<section class="mt-4 mb-4">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl font-bold text-gray-800 text-center">Home Page</h2>
  </div>
</section>